.person-listing {
  height: 100%;
  max-width: 100%;
}

button {
  background-color: var(--color-blue) !important;
  color: white !important;
  &:hover {
    opacity: .8;
  }
}

input {
  padding: 4px 6px;
  box-shadow: unset;
}
