@font-face {
  font-family: 'zpix';
  src: url('./assets/font-family/zpix.ttf');
}

:root{
  font-size: 16px;
  --color-deep-purple: #231f2b;
  --color-deep-purple2: #383245;
  --color-deep-purple3: #413d5f;
  --color-purple: #673ab7;
  --color-blue: #3db9a4;
  --color-blue2: #7bcec0;
  --color-pink: #ec7bb4;
  --color-green: #5cb85c;
  --color-green2: #4cae4c;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

.font-color-white {
  color: white;
  -webkit-text-fill-color: white;
}

.bg-purple {
  background-color: var(--color-purple) !important;
}
.bg-deep-purple {
  background-color: var(--color-deep-purple) !important;
}

.bg-deep-purple3 {
  background-color: var(--color-deep-purple3);
}
.bg-blue {
  background-color: var(--color-blue) !important;
}
.bg-pink {
  background-color: var(--color-pink) !important;
}
.bg-green {
  background-color: var(--color-green) !important;
}

.border-green2 {
  box-shadow: 0 0 0 1px var(--color-green2);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input {
  padding: 0 4px;
  box-shadow: 0 4px 0px -1px #3a3a3a;
}

input:focus-visible {
  box-shadow: unset;
}

.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
  -webkit-align-items: center;
}
.justify-content-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
  -webkit-justify-content: center;
}
